<h1>Subscribers</h1>

<p>These are subscribers that have signed up through your web site using Spreedly.</p>

<table cellspacing="0" cellpadding="0" border="0" class="index" id="subscribers">

  <thead>
    <tr>
      <th class="subscriber">Subscriber</th>
      <th class="status">Status</th>
      <th class="remove">Modify</th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |s| %>
      <tr class="node level-1">
        <td class="subscriber">
          <%= link_to s.email, subscriber_edit_url(:id => s.id) %>
        </td>
        <td class="<%= s.active? ? "" : "status" %>">
          <%= s.status %>
        </td>
        <td class="remove">
          <%= link_to "remove", subscriber_remove_url(:id => s.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<p><%= link_to "new", subscriber_new_url %></p>