<% include_stylesheet 'admin/subscribers/subscribers' %>

<% if @subscriber.new_record? %>
  <h1>New Subscriber</h1>
<% else %>
  <h1>Edit: <%= @subscriber.email %></h1>
<% end %>

<% form_tag do %>
  <div class="form-area">
    <div  id="subscriber_form_area">
      <p class="email">
        <label for="subscriber_email">Email</label>
        <%= text_field "subscriber", "email" %>
      </p>
       <span class="clear">&nbsp;</span>
    </div>
  </div>

  <p class="buttons">
    <%= save_model_button(@subscriber) %>
    <%= save_model_and_continue_editing_button(@subscriber) %>
    or 
    <%= link_to "Cancel", subscriber_index_url %>
  </p>
<% end %>