<% unless flash[:notice].blank? -%>
  <span style="color:red"><%= flash[:notice] %></span>
<% end -%>

<% if logged_in? -%>
  You are logged in as <%= current_subscriber.email %><br/>
  <% if current_subscriber.active? -%>
    You are all paid up!
  <% else -%>
    You are NOT paid up.
    <%= link_to "Subscribe", current_subscriber.spreedly_url %>
  <% end -%>
  
  <% if RAILS_ENV == "development" -%>
    <br/>
    <%= link_to "Refresh from Spreedly", subscriber_changed_url(:subscriber_ids => current_subscriber.id) %>
  <% end -%>
  
  <br/>
  <%= link_to "Logout", subscriber_logout_url %>
  
<% else -%>
  <% form_tag do -%>
    Email: <%= text_field_tag :email %>
    <%= submit_tag "Login" %>
  <% end -%>
  <%= link_to "Register", subscriber_register_url %>
<% end -%>