<h2>Your Subscription</h2>

<%= render :partial => "notice" %>

<p>
  <b>Username:</b> <%= current_subscriber.email %><br/>
  <b>Subscription:</b>
  <% if current_subscriber.active? -%>
    You are all paid up!
  <% elsif SpreedlyConfig.first -%>
    No active subscription.
    (<%= link_to "Subscribe", current_subscriber.spreedly_url %>)
  <% else -%>
    <span style="font-weight:bold; color:red">
      Spreedly is not configured properly. Please contact an admin.
    </span>
  <% end -%>
</p>

<p><%= link_to "Refresh Account", subscriber_changed_url(:subscriber_ids => current_subscriber.id, :return => true) %></p>
<p><%= link_to "Logout", subscriber_logout_url %></p>