<h2>Edit Spreedly Configuration</h2>

<%= error_messages_for :spreedly_config %>

<% form_for :spreedly_config do |f| -%>
  API Token: <%= f.text_field :api_token, :size => 50 %><br/>
  Login Name: <%= f.text_field :login_name, :size => 20 %><br/>
  Plan: <%= f.select :plan_id, SubscriptionPlan.to_dropdown %><br/>
  Mode: <%= f.select :mode, %w(Testing Production) %><br/>
  <%= f.submit "Save" %> or <%= link_to "cancel", spreedly_index_url %>
<% end -%>