<h2>Edit Spreedly Configuration</h2>

<% form_tag do -%>
  API Token: <%= text_field_tag :api_token, Radiant::Config['spreedly.api_token'],:size => 50 %><br/>
  Login Name: <%= text_field_tag :login_name, Radiant::Config['spreedly.login_name'], :size => 20 %><br/>
  Plan: <%= select_tag :plan_id, options_for_select(SubscriptionPlan.to_dropdown, Radiant::Config['spreedly.plan_id'].to_i) unless Radiant::Config['spreedly.mode'].nil? %><br/>
  Mode: <%= select_tag :mode, options_for_select(%w(Test Production), Radiant::Config['spreedly.mode']) %><br/>
  <%= submit_tag "Save" %> or <%= link_to "cancel", spreedly_index_url %>
<% end -%>