<h1>Spreedly</h1>

<p>You can adjust your Spreedly configuration here.</p>

<p>
  <b>API Token:</b> <%= Radiant::Config['spreedly.api_token'] %><br/>
  <b>Login Name:</b> <%= Radiant::Config['spreedly.login_name'] %><br/>
  <b>Plan:</b> <%= Radiant::Config['spreedly.plan_name'] %><br/>
  <b>Mode:</b> <%= Radiant::Config['spreedly.mode'] %><br/>
</p>

<p><%= link_to "edit", spreedly_edit_url %></p>